<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.media.his.mapper.GradeFieldShowMapper">
    <resultMap id="BaseResultMap" type="com.media.his.entity.GradeFieldShow">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="field_id" property="fieldId" jdbcType="INTEGER"/>
        <result column="is_valid" property="isValid" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from grade_field_show
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.media.his.entity.GradeFieldShow">
        insert into grade_field_show (id, user_id, field_id,
        is_valid, create_time, update_time
        )
        values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{fieldId,jdbcType=INTEGER},
        #{isValid,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.media.his.entity.GradeFieldShow">
        update grade_field_show
        set user_id = #{userId,jdbcType=INTEGER},
        field_id = #{fieldId,jdbcType=INTEGER},
        is_valid = #{isValid,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select id, user_id, field_id, is_valid, create_time, update_time
        from grade_field_show
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, user_id, field_id, is_valid, create_time, update_time
        from grade_field_show
    </select>
</mapper>