<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.media.his.mapper.StudentMapper">


    <resultMap id="seeAge" type="com.media.his.entity.StudentDO">
        <id column="id" property="id"></id>
        <result column="name" property="name"/>
        <result column="address" property="address"/>
        <result column="age" property="age"/>
        <result column="phone_number" property="phoneNumber"/>
    </resultMap>

    <select id="findStudentByAge" resultMap="seeAge">
        SELECT * FROM student WHERE age > 50;
    </select>

    <select id="findNameByAge" resultMap="seeAge">
        SELECT id,name FROM student WHERE age > 50;
    </select>

    <select id="findAddressByAge" resultMap="seeAge">
        SELECT id,address FROM student WHERE age > 50;
    </select>

    <select id="findPhoneNumberByAge" resultMap="seeAge">
        SELECT id,phone_number FROM student WHERE age > 50;
    </select>

    <select id="findPhoneNumber" resultType="java.lang.String">
        SELECT phone_number FROM student;
    </select>

    <select id="findMaxId" resultType="java.lang.Integer">
        SELECT max(id) from student
    </select>

    <select id="findAllPhoneNumber" resultType="com.media.his.entity.StudentDO">
        SELECT student.name,student.phone_number,student.address,student.address from student WHERE id
        BETWEEN #{start} AND #{end}
    </select>
</mapper>