<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.media.his.mapper.StudentKtMapper">


    <resultMap id="seeAge" type="com.media.his.entity.StudentDO">
        <id column="id" property="id"></id>
        <result column="name" property="name"/>
        <result column="address" property="address"/>
        <result column="age" property="age"/>
        <result column="phone_number" property="phoneNumber"/>
    </resultMap>

    <select id="findById" resultType="com.media.his.entity.StudentKtDO">
        SELECT s.id,s.name,s.phone_number,s.email,s.create_time
        FROM student_kt WHERE id = #{id}
    </select>
</mapper>